.top{
	margin-top:175px;
}
body{
	background-size:cover;
}
body.morgen{
	background-image:url(..\/pictures/morning.png);
}
body.middag{
	background-image:url(..\/pictures/afternoon.png);
}
body.nacht{
	background-image:url(..\/pictures/night.png);
}
body.avond{
	background-image:url(..\/pictures/evening.png);
}
p{
	margin:0px;
	text-align:center;
	color:black;
	font-size:75px;
}
div{
	display:inline-block
}
