.top{
	margin-top:175px;
}
body{
	background-size:cover;
}
body.morgen{
	background-image:url(..\/pictures/morning.png);
}
body.middag{
	background-image:url(..\/pictures/afternoon.png);
}
body.nacht{
	background-image:url(..\/pictures/night.png);
}
body.avond{
	background-image:url(..\/pictures/evening.png);
}
p{
	font-family:blox2;
	margin:0px;
	text-align:center;
	color:black;
	font-size:75px;
}
@font-face {
    font-family: 'blox2';
    src: url('blox2-webfont.eot');
    src: url('blox2-webfont.eot?#iefix') format('embedded-opentype'),
         url('blox2-webfont.woff') format('woff'),
         url('blox2-webfont.ttf') format('truetype'),
         url('blox2-webfont.woff.svg#blox2') format('woff');
    font-weight: normal;
    font-style: normal;
}
div{
	display:inline-block
}
@keyframes clouds{
    0%   {left:0%;}
    100% {left:88.3%;}
}

i{
	position:absolute;
	top:10%;
	left:0%;
	width:20px;
	height:20px;
	border-left:70px solid white;
	border-right:70px  solid white;
	border-top:50px solid white;
	border-bottom:50px solid white;
	border-radius:50%;
	
	animation: clouds;
	animation-duration:4s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}






